*.out
main
alltests
.vscode/
*.json
CLI11-main.zip
CLI11-main/
carbon_tracker
carbon_tracker.cpp
build
CMakeCache.txt
cmake_install.cmake
CLI11.hpp
cli_test
cli
CMakeFiles/
Makefile
*.txt
*.ods
*.ods#